<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Afdeling ANY>
<!ATTLIST Afdeling id ID #REQUIRED>
<!ELEMENT Afdelinger ANY>
<!ATTLIST Afdelinger id ID #REQUIRED>
<!ELEMENT Forside ANY>
<!ATTLIST Forside id ID #REQUIRED>
<!ELEMENT Side ANY>
<!ATTLIST Side id ID #REQUIRED>
<!ELEMENT Sider ANY>
<!ATTLIST Sider id ID #REQUIRED>

]>
<root id="-1">
  <Forside id="1063" key="753eca88-3b85-42c6-8041-b499f70e672f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-04-10T22:57:23" updateDate="2014-05-22T14:46:37" nodeName="Bryggergården" urlName="bryggergaarden" path="-1,1063" isDoc="" nodeType="1062" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1115" nodeTypeAlias="Forside">
    <Afdelinger id="1076" key="13ba5a5d-cdf6-4930-96a3-40d20cd7eca9" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2014-04-13T13:34:40" updateDate="2014-05-22T14:50:16" nodeName="Afdelinger" urlName="afdelinger" path="-1,1063,1076" isDoc="" nodeType="1073" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1072" nodeTypeAlias="Afdelinger">
      <Afdeling id="1079" key="c93f1e62-1ac1-48c0-b3ab-675c36414898" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2014-04-13T13:39:32" updateDate="2014-05-22T11:58:22" nodeName="Boafdelingen Bryggergården" urlName="boafdelingen-bryggergaarden" path="-1,1063,1076,1079" isDoc="" nodeType="1075" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1074" nodeTypeAlias="Afdeling">
        <umbracoNaviHide>0</umbracoNaviHide>
        <sideTekst><![CDATA[<p>Hej side</p>]]></sideTekst>
        <afdelingsBilled><![CDATA[/media/1011/bryggergaarden.jpg]]></afdelingsBilled>
        <kortBeskrivelse><![CDATA[Kort beskrivelse af boafdelingen Bryggergården]]></kortBeskrivelse>
        <afdelingsNavn><![CDATA[Boafdelingen
Bryggergården]]></afdelingsNavn>
        <afdelingsSide><![CDATA[<p><strong>Boafdelingen Bryggerg&aring;rden</strong></p>]]></afdelingsSide>
      </Afdeling>
      <Afdeling id="1081" key="f9d37bd1-a5f0-4449-9e61-49c0ff15b6ed" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2014-04-13T13:41:57" updateDate="2014-04-18T14:24:22" nodeName="Boafdelingen Hellemodegård" urlName="boafdelingen-hellemodegaard" path="-1,1063,1076,1081" isDoc="" nodeType="1075" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1074" nodeTypeAlias="Afdeling">
        <afdelingsBilled><![CDATA[/media/1012/hellemosegaard.jpg]]></afdelingsBilled>
        <kortBeskrivelse><![CDATA[Kort beskrivelse af boafdelingen Hellemosegård]]></kortBeskrivelse>
        <afdelingsNavn><![CDATA[Boafdelingen
Hellemosegård]]></afdelingsNavn>
        <afdelingsSide><![CDATA[<p>Boafdelingen Hellemoseg&aring;rd</p>]]></afdelingsSide>
      </Afdeling>
      <Afdeling id="1083" key="90371819-e617-4c36-86e6-cd5c6105a10e" parentID="1076" level="3" creatorID="0" sortOrder="2" createDate="2014-04-13T13:43:49" updateDate="2014-04-17T00:06:07" nodeName="Samsø Heldagsskole" urlName="samsoe-heldagsskole" path="-1,1063,1076,1083" isDoc="" nodeType="1075" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1074" nodeTypeAlias="Afdeling">
        <afdelingsBilled><![CDATA[/media/1013/heldagsskole.jpg]]></afdelingsBilled>
        <kortBeskrivelse><![CDATA[Kort beskrivelse af Samsø Heldagsskole]]></kortBeskrivelse>
        <afdelingsNavn><![CDATA[Samsø
Heldagsskole]]></afdelingsNavn>
        <afdelingsSide><![CDATA[<p>Sams&oslash; Heldagsskole</p>]]></afdelingsSide>
      </Afdeling>
      <Afdeling id="1085" key="a15b6bce-a2c4-4d0e-87e6-f686609f92d1" parentID="1076" level="3" creatorID="0" sortOrder="3" createDate="2014-04-13T13:47:41" updateDate="2014-04-17T00:06:24" nodeName="Samsø Erhvervsskole" urlName="samsoe-erhvervsskole" path="-1,1063,1076,1085" isDoc="" nodeType="1075" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1074" nodeTypeAlias="Afdeling">
        <afdelingsBilled><![CDATA[/media/1014/erhvervsskole.jpg]]></afdelingsBilled>
        <kortBeskrivelse><![CDATA[Kort beskrivelse af Samsø Erhvervsskole]]></kortBeskrivelse>
        <afdelingsNavn><![CDATA[Samsø
Erhvervsskole]]></afdelingsNavn>
        <afdelingsSide><![CDATA[<p>Sams&oslash; Erhvervsskole</p>]]></afdelingsSide>
      </Afdeling>
      <umbracoNaviHide>0</umbracoNaviHide>
      <sideTekst><![CDATA[<p><span class="overskrift1">Afdelinger</span></p>
<p>Bryggerg&aring;rden Sams&oslash; best&aring;r af fire afdelinger.</p>
<?UMBRACO_MACRO macroAlias="Afdelinger" />
<p>Hver afdeling har....</p>
<p>&nbsp;</p>
<?UMBRACO_MACRO macroAlias="Afdelinger" />]]></sideTekst>
    </Afdelinger>
    <Side id="1113" key="d1b85750-dd0c-4c5b-8c7a-c5de6897cf7e" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2014-05-16T20:12:17" updateDate="2014-05-16T20:16:47" nodeName="Værdigrundlag" urlName="vaerdigrundlag" path="-1,1063,1113" isDoc="" nodeType="1060" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1059" nodeTypeAlias="Side">
      <sideTekst><![CDATA[<p><span class="overskrift1">V&aelig;rdigrundlaget</span></p>
<p><span class="overskrift2">Menneskesyn</span></p>
<p><span>Fonden Bryggerg&aring;rdens (FBG) menneskesyn er helhedsorienteret og ser mennesket som indlejret i et system af relationer. Dermed anskues den unge, uanset k&oslash;n og kulturelt tilh&oslash;rsforhold, som et menneske, der har sin helt egen m&aring;de at v&aelig;re og l&aelig;re p&aring; &ndash; forskellig fra alle andres. Det danner grundlag for det p&aelig;dagogiske arbejde. P&aring; alle&nbsp;afdelinger arbejdes der ud fra en eksistentialistisk t&aelig;nkning, defineret ved relationelle og systemiske tilgange samt en psykodynamisk forst&aring;else af menneskets personlighed og livshistoriske forhold.</span></p>
<p><span class="overskrift2">Relationer</span></p>
<p><span>De relationer, som man indg&aring;r i, er bestemmende for, hvad man siger og g&oslash;r. Den mening, man skaber, og de handlinger, man foretager, er betinget af ens relationer til andre. Man skaber hinanden gensidigt i relationer. Hvem man &rdquo;er&rdquo;, kan variere afh&aelig;ngigt af relationen. Relationer opbygges gennem kommunikation, dvs. gennem sprog og handling. Sproget forbinder og skaber ideer gennem nye erfaringer, der f&oslash;rer til ny viden og nye handlinger.</span></p>
<p><span class="overskrift2">Systemisk t&aelig;nkning</span></p>
<p><span>Systemisk t&aelig;nkning fokuserer p&aring; m&aring;den, hvorp&aring; et systems forskellige aspekter indbyrdes agerer og relaterer. I systemisk t&aelig;nkning arbejdes med et perspektiv p&aring; systemets udvikling og situerede tilpasning, samt med et perspektiv p&aring; systemets forholden sig til andre og st&oslash;rre systemer. <br />Den systemiske tankegang bidrager med teorier om, hvordan vi skaber mening og sammenh&aelig;ng i vores forst&aring;else af verden. At t&aelig;nke systemisk vil sige at t&aelig;nke i helheder, relationer og sammenh&aelig;nge.<br />Et grundl&aelig;ggende synspunkt er, at der ikke er en objektiv virkelighed, som kan forst&aring;s mere eller mindre korrekt. Virkeligheden er en social konstruktion skabt af mennesker, der kommunikerer gennem sproget.</span></p>
<p><span><span class="overskrift2">Psykodynamisk t&aelig;nkning</span></span></p>
<p><span>Psykodynamisk t&aelig;nkning forst&aring;r menneskets personlighed i et livshistorisk perspesktiv. Denne t&aelig;nkning besk&aelig;ftiger sig med, hvordan indre liv &ndash; f&oslash;lelser, tanker og fantasier, bevidste eller ubevidste - og ydre p&aring;virkninger spiller sammen.<br />Som udgangspunkt opfattes menneskets personlighed som dynamisk og p&aring;virkelig, og det &aring;bner for et fortsat professionelt arbejde med tiltag og stilladsering omkring p&aelig;dagogisk tilrettelagt udvikling. I FBGs arbejde l&aelig;gges is&aelig;r v&aelig;gt p&aring; den personlige kontakt med den unge og refleksion af den unges opm&aelig;rksomhed p&aring; betydningen af egen personlighed og livshistorie samt mulighed for at mestre egen situation.<br /> <br /><span class="overskrift2">Anerkendende p&aelig;dagogik</span></span></p>
<p><span>N&aring;r man anerkender en anden person, tager man afs&aelig;t i dennes verden med dertil h&oslash;rende normer og v&aelig;rdier. At anerkende er at acceptere, at min verden er anderledes end din, og at &rdquo;mening&rdquo; ikke n&oslash;dvendigvis er det samme for mig som for dig. At anerkende er at m&oslash;de andre med en tro p&aring;, at de har noget s&aelig;rligt at bidrage med, og at de har gode grunde til det, de g&oslash;r. Anerkendelse er at respektere den andens oplevelse af meningsfuldhed.<br />Anerkendende p&aelig;dagogik omfatter at arbejde med selvopfattelse, mestring og kompetencer.<br /> <br /><span class="overskrift2">V&aelig;rdier i praksis</span></span></p>
<p><span>P&aring; FBGs afdelinger tilstr&aelig;ber vi, at menneskesyn, v&aelig;rdigrundlag og praksis er t&aelig;t forbundne og gensidigt samvirkende. I en fortl&oslash;bende, &aring;ben og samtidigt m&aring;lrettet proces reflekterer og udvikler medarbejdere og ledelse de grundsyn og praksisformer, der oms&aelig;ttes i vort p&aelig;dagogiske arbejde. Det afspejler sig i en l&oslash;bende refleksion og udvikling af vores v&aelig;rdigrundlag. Det betyder konkret, at de grundl&aelig;ggende v&aelig;rdier for arbejde: respekt, tillid, ligev&aelig;rd, tryghed, omsorg, anerkendelse og selvst&aelig;ndighed, danner focuspunkter for kontinuerlig refleksion og udvikling.<br />Dermed bliver begreber som respekt, tillid, ligev&aelig;rd, tryghed, omsorg, anerkendelse og selvst&aelig;ndighed grundl&aelig;ggende v&aelig;rdier i vort p&aelig;dagogiske arbejde.<br /> <br /><span class="overskrift2">Refleksion</span></span></p>
<p><span>Refleksion er i FBGs arbejde en v&aelig;sentlig drivkraft for udvikling af individuel og social forst&aring;else. Refleksion &aring;bner b&aring;de til fordybelse og eftertanke og til handling og erfaringsdannelse. Som s&aring;dan er refleksion en praksis, der danner udganspunkt for de ansattes arbejde og samspil med de unge. Det er s&aring;ledes en form for modell&aelig;ring, hvorved de unge gradvist introduceres til og udvikler deres evne til selv at reflektere som led i deres personlige udvikling og selvforvaltningskompetence.<br /> <br /><span class="overskrift2">Respekt</span></span></p>
<p><span>Respekten for det enkelte individ v&aelig;gtes h&oslash;jt. I FBGs arbejde er det afg&oslash;rende, at de unges integritet og r&aring;derum respekteres. Retten til &ndash; og evnen til - at v&aelig;re sig selv till&aelig;gges stor betydning, ligesom det er afg&oslash;rende, at de unge skal l&aelig;re at have respekt for andre mennesker.<br /> <br /><span class="overskrift2">Tillid</span></span></p>
<p><span>Vi er hinandens foruds&aelig;tninger og det fordrer tillid: Vi skal kunne regne med hinanden og vi skal overholde aftaler. I FBG arbejder vi med udvikling af tillidsstrukturer i de unges hverdag. Tillid er en foruds&aelig;tning for, at de unge kan arbejde med deres udvikling og muligheder. <br /> <br /><span class="overskrift2">Ligev&aelig;rd</span></span></p>
<p><span>Ligev&aelig;rd er et centralt princip i FBGs arbejde med relationen. Ligev&aelig;rd udg&oslash;r den v&aelig;sentligste intention og bestr&aelig;belse i m&oslash;det mellem de unge og ansatte, og i udviklingen af de unges personlige og sociale kompetencer.<br /> <br /><span class="overskrift2">Tryghed</span></span></p>
<p><span>Tryghed er en foruds&aelig;tning for skabelse af et milj&oslash;, hvor trivsel og udvikling kan udfoldes. Tryghed er en grundsten i relationsarbejdet og i de unges arbejde med hverdagens udfordringer.<br /> <br /><span class="overskrift2">Omsorg</span></span></p>
<p><span>Omsorg er i FBGs praksis t&aelig;t forbundet med opm&aelig;rksomhed og anerkendelse af den enkeltes personlighed og behov.<br />At f&oslash;le sig set, holdt af og respekteret er vigtige elementer i en s&aring;rbar ungdomstilv&aelig;relse, hvor svigt og problemer har fyldt det meste af barndommen. Omsorgsfulde voksne betyder, at det bliver lettere at turde knytte sig til andre mennesker.<br /> <br /><span class="overskrift2">Anerkendelse</span></span></p>
<p><span>For FBG best&aring;r anerkendelse i at acceptere de unges og kollegers integritet, de invididuelle forskelligheder og personlige v&aelig;rdier, at v&aelig;rds&aelig;tte hinandens handlinger, at v&aelig;re nysgerrige og huske at udtrykke gensidig p&aring;sk&oslash;nnelse.<br /> <br /><span class="overskrift2">Selvst&aelig;ndighed</span></span></p>
<p><span>Mestring og selvst&aelig;ndighed er betydningsfulde m&aring;l for FGBs arbejde. At kunne bestemme, tage ansvar og mestre egne forhold og udfordringer er en vigtig del af, at udvikle sig frem mod en god og hel tilv&aelig;relse.<br />FBG danner sikkerhedsnet under de unge, og st&oslash;tter dem i at blive selvst&aelig;ndige og ansvarlige i deres livsforhold.</span></p>]]></sideTekst>
    </Side>
    <Side id="1116" key="7c3627e3-a182-4c11-b646-fbfc29bd04ef" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2014-05-22T11:59:01" updateDate="2014-05-22T12:26:30" nodeName="Ny side" urlName="ny-side" path="-1,1063,1116" isDoc="" nodeType="1060" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1059" nodeTypeAlias="Side">
      <sideTekst><![CDATA[<p>Dette er en ny side</p>
<?UMBRACO_MACRO macroAlias="Galleri" mediaId="1118,1119,1120,1117" />]]></sideTekst>
    </Side>
    <Side id="1105" key="25342a88-e1be-486b-8f93-7f99f42f893e" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2014-05-14T20:48:56" updateDate="2014-05-20T21:50:55" nodeName="Kontakt" urlName="kontakt" path="-1,1063,1105" isDoc="" nodeType="1060" creatorName="Jesper Jensen" writerName="Jesper Jensen" writerID="0" template="1059" nodeTypeAlias="Side">
      <sideTekst><![CDATA[<p>Kontakt os</p>
<p>&nbsp;</p>
<?UMBRACO_MACRO macroAlias="Afdelinger" />
<p>&nbsp;</p>
<p>&nbsp;</p>
<?UMBRACO_MACRO macroAlias="Galleri" mediaId="1092" />]]></sideTekst>
    </Side>
    <email><![CDATA[bg@bryggergaarden-samso.dk]]></email>
    <sideTitel><![CDATA[Fonden Bryggergården]]></sideTitel>
    <vejnavn><![CDATA[Østerbyvej 30]]></vejnavn>
    <bynavn><![CDATA[Østerby 8306 Samsø]]></bynavn>
    <telefonNr><![CDATA[Telefon: 86 59 21 71]]></telefonNr>
    <faxNr><![CDATA[Fax: 86 59 21 78]]></faxNr>
    <undertitel><![CDATA[Et socialpædagogisk opholdssted på Samsø - øen midt i Danmark]]></undertitel>
    <sideTekst><![CDATA[<p><span class="overskrift1">Bryggerg&aring;rden Sams&oslash;s forside</span></p>
<?UMBRACO_MACRO macroAlias="Afdelinger" />
<p>Yderligere &iacute;ndhold</p>
<p>&nbsp;Hej med dig</p>
<p>Dette er en vigtig &aelig;ndring</p>
<p>&nbsp;</p>
<?UMBRACO_MACRO macroAlias="Afdelinger" />
<p>&nbsp;</p>]]></sideTekst>
  </Forside>
</root>